<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/terms_policy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTLAndroid"
        tools:targetApi="31">
        <activity
            android:name=".SearchAdminActivity"
            android:exported="false" />
        <activity
            android:name=".HomeAdminActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SanphamAdminActivity"
            android:exported="false" />
        <activity
            android:name=".AddAdminActivity"
            android:exported="false" />
        <activity
            android:name=".EditAdminActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".DoanhthuAdminActivity"
            android:exported="false" />
        <activity
            android:name=".TaikhoanAdminActivity"
            android:exported="false" />
        <activity
            android:name=".HoadonActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".GiohangActivity"
            android:exported="false" />
        <activity
            android:name=".SanPhamActivity"
            android:exported="false" />
    </application>

</manifest>